<div class="nav col-md-2">
	<ul>
		<li><a href="/doc/testSetting">配置说明</a></li>
		<li><a href="/doc/md5">md5加密</a></li>
		<li><a href="/doc/addOrder">增加销售订单</a></li>
		<li><a href="/doc/queryOrder">查询订单状态</a></li>
		<li><a href="/doc/getGoodsCategory">获取产品类别</a></li>
		<li><a href="/doc/getGoodsList">获取产品列表</a></li>
		<li><a href="/doc/getGoodsDetail">获取产品详情</a></li>
		<li><a href="/doc/addPaymentOrder">增加待支付订单</a></li>
		<li><a href="/doc/getGoodsStock">获取商品库存</a></li>
		<li><a href="/doc/retCodeReference">返回码参照</a></li>
		<li><a href="/doc/logisticsReference">物流公司编码参照</a></li>
	</ul>
</div>