<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>行云订单API</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="root">
        <div class="header">
            <h2>行云订单API v3.1</h2>
        </div>
        <div class="content">
            {(./nav.html)}
            <div class="content-left col-md-6 col-md-offset-4">
                <div class="content-container">
                    <p class="content-left-header"><strong>配置说明</strong></p>
                    <div class="content-left-container addOrder">
                        <h4>简要描述:</h4>
                        <ul>
                            <li><span class="strong">商户id：</span>75041628</li>
                            <li><span class="strong">密钥：</span>1BG847AC10007300A8C000000F634ED6</li>
                            <li><span class="strong">测试：</span>url:http://120.76.191.121/api/service/business</li>
                            <li><span class="strong">注意事项：</span>需要报备ip</li>
                        </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
